Repository billjs/event-emitter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run tslint -- --fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "linters": {
    "*.ts": ["npm run tslint -- --fix", "prettier --write", "git add"],
    "*.js": ["eslint --fix", "prettier --write", "git add"],
    "*.{json,md}": ["prettier --write", "git add"]
  },
  "ignore": []
}

add .travis.yml
  .eslintcache
  .gitignore
  .prettierignore
  .travis.yml
Due: none

update package description
  README.md
  package.json
  src/index.ts
Due: npm run tslint -- --fix, prettier --write

add `npm run build` script
  .travis.yml
Due: none

add .npmrc
  .npmrc
Due: none

npm publish as @billjs scope
  package.json
Due: prettier --write

add badges
  README.md
Due: prettier --write

modify ts build target as es5
  tsconfig.json
Due: prettier --write

1.0.1
  package.json
Due: prettier --write

Set theme jekyll-theme-cayman
  _config.yml
Due: none

add typescript language
  README.md
Due: prettier --write

update README.md for Installation
  README.md
Due: prettier --write

1.0.2
  package.json
Due: prettier --write

ts module compile to commonjs
  tsconfig.json
Due: prettier --write

1.0.3
  package.json
Due: prettier --write

add npm download badge
  README.md
Due: prettier --write
